<!DOCTYPE html>
<head>
  <title>Phap Dinh</title>
  <style>
    body {
      text-align: center;
      background: url("images/Lighthouse.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
	  color: white;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
	#flexBox {
	  padding: 2.5% 5%;
	}
	body {
	  color: black;
	  font-weight: bold;
	}
  </style>
  <script>
    var name = prompt('What is your name?');
	alert('Nice to meet you ' + name);
  </script>
</head>
<body>
  <img src="images/162-compressor.jpg">
  <p>Hi! I'm Phap, a ATL-based web developer.</p>
  <div id="flexBox">
    <ul>
	  <li>Email: centralparkloop@yahoo.com</li>
	  <li>Cell: 678-521-2978</li>
	  <li><a href="https://www.github.com/phapdinh">Github Account</a></li>
	  <li><a href="https://www.linkedin.com/in/phap-dinh-b9513663">Linkedin Account</a></li>
    </ul>	
  </div>
  <h2>
  Personal Story
  </h2>
  <p>
    I was born in Vietnam and immigrated to the United States when I was 3 years old. I am grateful for the opportunities and life that has been
    provided by this great country. I grew up in Georgia most of my life and graduated from Morrow High School in Morrow, Ga. I attended Georgia Tech
    for a couple of years and studied electrical engineering there, but left because electrical engineering didn't interest me. I worked as a freelancer for
    about a year after I left college by teaching myself to code on codecademy and Udacity, but found very little opportunities so I eventually took a couple
    of sales positions until I worked as a sales manager for a small used car dealership called Freedom Used Auto Sales. All the while I was teaching myself
    to code through continued lessons on Udacity and by reading books like Code Complete. I eventually did two nanodegrees on Udacity for Full stack web
    development and front-end web development. However, the opportunities have been hard to come by and am now interested in trying to expand my skills at
	General Assembly.
  </p>
  <img src="images/typing_test.bmp">
</body>