<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js" async></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
		  <img class="title-logo" src="https://sumozasnullpointer.files.wordpress.com/2015/04/udacity-logo.jpg" alt="Udacity Logo">
		</div>
        <div class="col-md-6 text-right text-uppercase">
          <h1 class="title-super text-thin">Phap Dinh</h1>
          <h4>Front-end Ninja</h4>
        </div>
      </div>
	  <div class="row">
	    <div class="col-md-12">
		  <!--Used http://jpetersun.github.io/ to configure the hr-->
		  <hr>
		</div>
	  </div>
      <div class="row">
	    <div class="col-md-12">
          <img class="img-responsive" src="images/Lighthouse.jpg" alt="landscape for mockup" height="50">
	    </div>
      </div>
      <div class="row">
	    <div class="col-md-12">
          <h2>Featured Work</h2>
	    </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <img class="img-responsive" src="images/movie_page.gif" alt="movie_page" height="270" width="360" data-toggle="modal" data-target="#project1">
          <h3>Movie Page</h3>
          <p><a href="http://github.com/phapdinh/movie_page">http://github.com/phapdinh/movie_page</a></p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive" src="images/neighborhood_map.gif" alt="neighborhood map" height="270" width="360" data-toggle="modal" data-target="#project2">
          <h3>Neighborhood Map</h3>
          <p><a href="http://github.com/phapdinh/neighborhoodMap">http://github.com/phapdinh/neighborhoodMap</a></p>
        </div>
	    <div class="col-md-4">
          <img class="img-responsive" src="images/arcade.gif" alt="arcade" height="270" width="360" data-toggle="modal" data-target="#project3">
          <h3>Arcade</h3>
          <p><a href="http://github.com/phapdinh/frontend-nanodegree-arcade-game">http://github.com/phapdinh/frontend-nanodegree-arcade-game</a></p>
        </div>
      </div>
	  <div class="row text-center">
        <div class="col-md-4">
          <img class="img-responsive" src="images/ajaxPic.jpg" alt="ajax_page" height="270" width="360" data-toggle="modal" data-target="#project4">
          <h3>Ajax</h3>
          <p><a href="http://github.com/phapdinh/ajax">http://github.com/phapdinh/ajax</a></p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive" src="images/feeder_test.jpg" alt="feed tester" height="270" width="360" data-toggle="modal" data-target="#project5">
          <h3>Feeder Test</h3>
          <p><a href="http://github.com/phapdinh/frontend-nanodegree-feedreader">http://github.com/phapdinh/frontend-nanodegree-feedreader</a></p>
        </div>
		<div class="col-md-4">
          <img class="img-responsive" src="images/spaceshipGame.jpg" alt="HTML5 Game" height="270" width="360" data-toggle="modal" data-target="#project6">
          <h3>HTML5 Game</h3>
          <p><a href="http://github.com/phapdinh/HTML5_Game">http://github.com/phapdinh/HTML5_Game</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="img-responsive" src="images/catclicker.jpg" alt="Cat Clicker Game" height="270" width="360" data-toggle="modal" data-target="#project7">
          <h3>Cat Clicker Game</h3>
          <p><a href="http://github.com/phapdinh/catclicker">http://github.com/phapdinh/catclicker</a></p>
        </div>
		<div class="col-md-4">
          <img class="img-responsive" src="images/video_player.jpg" alt="video player" height="270" width="360" data-toggle="modal" data-target="#project8">
          <h3>Video Player</h3>
          <p><a href="http://github.com/phapdinh/HTML5Video">http://github.com/phapdinh/HTML5Video</a></p>
        </div>
		<div class="col-md-4">
          <img class="img-responsive" src="images/nodeApp.gif" alt="video player" height="270" width="360" data-toggle="modal" data-target="#project9">
          <h3>Node App</h3>
          <p><a href="https://github.com/phapdinh/expressWebsite">https://github.com/phapdinh/expressWebsite</a></p>
        </div>
      </div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Movie Page</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/movie_page.gif">
			Server-side code written in Python to store a list of my
			favorite movies, including box art imagery and a movie
			trailer URL. This data is then served to a web page
			using HTML and CSS allowing visitors to review these
			movies and watch the trailers.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="http://phapdinh.github.io/movie_page">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="project2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Neighborhood Map</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/neighborhood_map.gif">
			A single-page web application, built using the Knockout framework,
			that displays a Google Map of an area and various points of interest.
			Users can search all included landmarks and, when selected,
			additional information about a landmark is presented from the FourSquare
			and Wikipedia APIs.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="http://phapdinh.github.io/neighborhoodMap">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="project3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Arcade</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/arcade.gif">
			An HTML5 Canvas powered video game, developed using the best practices in Object Oriented JavaScript.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="http://phapdinh.github.io/frontend-nanodegree-arcade-game">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="project4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Ajax</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/ajaxPic.jpg">
			Used jquery to makes ajax requests to New York Times, wikipedia, and google maps for city entered
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="http://phapdinh.github.io/ajax">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="project5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Feeder Test</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/feeder_test.jpg">
			Wrote comprehensive unit tests, using the Jasmine testing framework, for an RSS Feed Reader application that uses Google's RSS API.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="http://phapdinh.github.io/frontend-nanodegree-feedreader">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="project6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">HTML5 Game</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/spaceshipGame.jpg">
			HTML5 game where you are a spaceship that moves according to mouse location. There are rocks that are falling randomly in front of your
			spaceship. Your job is to avoid the spaceships.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="http://phapdinh.github.io/HTML5_Game">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
  <div class="modal fade" id="project7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Cat Clicker Game</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/catclicker.jpg">
			Created a website that gives you a list of 5 cats and when you click on one of them,
      they will appear in the one of two clicking areas. Once you have clicked two cats,
      the first one will be in the first clicking area and the second one will be in the
       second clicking area. They will display their names and when you click on the
       pictures in the clicking area, the number of times each picture has been clicked
       will appear at the bottom of the picture. This is organized in Model, Viewer, and Controller format.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="http://phapdinh.github.io/catclicker">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="project8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Video Player</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/video_player.jpg">
			Created a video player using HTML5 Video Tag
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="http://phapdinh.github.io/HTML5Video">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="project9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Node App</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="images/nodeApp.gif">
			Created a node app using express framework to introduce myself
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default"><a href="https://ancient-springs-57162.herokuapp.com/">Project Link</a></button>
		  </div>
		</div>
	  </div>
	</div>
  </body>
</html>
