body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

hr {
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}
.row .col-md-4:hover {
	border-style: solid;
	border-color: Aquamarine;
}

a {
    color: #00B7FF;
}